root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{bat,cmd}]
end_of_line = crlf

[.githooks/*]
end_of_line = lf
indent_style = space
indent_size = 2

[*.java]
indent_style = space
indent_size = 4
tab_width = 4
max_line_length = 105
ij_continuation_indent_size = 8

ij_java_class_brace_style = end_of_line
ij_java_method_brace_style = end_of_line
ij_java_else_on_new_line = false
ij_java_catch_on_new_line = false
ij_java_finally_on_new_line = false

ij_java_keep_simple_blocks_in_one_line = false
ij_java_keep_simple_classes_in_one_line = false
ij_java_keep_simple_methods_in_one_line = false
ij_java_keep_simple_lambdas_in_one_line = false

ij_java_use_single_class_imports = true
ij_java_class_count_to_use_import_on_demand = 9999
ij_java_names_count_to_use_import_on_demand = 9999

ij_java_method_parameters_wrap = split_into_lines
ij_java_method_parameters_new_line_after_left_paren = true
ij_java_method_parameters_right_paren_on_new_line = true

ij_java_call_parameters_wrap = split_into_lines
ij_java_call_parameters_new_line_after_left_paren = true
ij_java_call_parameters_right_paren_on_new_line = true

ij_java_extends_list_wrap = normal
ij_java_throws_list_wrap = normal
ij_java_binary_operation_wrap = normal
ij_java_ternary_operation_wrap = normal

ij_java_align_multiline_parameters = false
ij_java_align_multiline_parameters_in_calls = false
ij_java_align_multiline_binary_operation = false

ij_java_line_comment_add_space = true
ij_java_line_comment_add_space_on_reformat = true


[*.{yml,yaml}]
indent_style = space
indent_size = 2

[*.{json,js,ts,tsx,css,html}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
